* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #fff;   */
    color: f5f5f5;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

body {
    background-color: #f5f5f5;
}

/* <!--======== Pre-loader ========--> */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20000;
    overflow-x: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader div {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    transform-origin: 50% 0;
    display: inline-block;
    animation: bouncing 1.4s linear infinite;
  }
  
  .loader div:last-child {
    margin: 0;
  }
  
  .loader div:nth-child(1) {
    /* background: rgba(1, 148, 70, 0.9); */
    /* background: lightskyblue; */
    background: rgba(135, 206, 235, 0.7);
  }
  
  .loader div:nth-child(2) {
    /* background: rgba(1, 148, 70, 0.7); */
    /* background: lightskyblue; */
    background: rgba(135, 206, 235, 0.7);
    animation-delay: 0.2s;
  }
  
  .loader div:nth-child(3) {
    /* background: rgba(1, 148, 70, 0.5); */
    /* background: lightskyblue; */
    background: rgba(135, 206, 235, 0.7);
    animation-delay: 0.4s;
  }
  
  @keyframes bouncing {
    0%, 100% {
      transform: translateY(0) scale(1, 1);
      animation-timing-function: ease-in;
    }
    45% {
      transform: translateY(80px) scale(1, 1);
      animation-timing-function: linear;
    }
    50% {
      transform: translateY(80px) scale(1.5, 0.5);
      animation-timing-function: linear;
    }
    55% {
      transform: translateY(80px) scale(1, 1);
      animation-timing-function: ease-out;
    }
  }

  /*-------------------------------------------------------------------------------------------------------------------*/

#nav {
    height: 90px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 150px;
    /* position: fixed; */
    background-color: white;
    z-index: 1;
}

#nav img {
    height: 60px;

}

#nav h4 {
    text-transform: uppercase;
    /* font-weight: 500; */
    font-weight: bold;
    /* word-spacing: 22px;   */
}

.page1 {
    height: 89%;
    /* width: 10vw; */
    display: flex;


}

.left {
    background-color: #f5f5f5;
    color: black;
    width: 50%;
    margin-left: 3rem;
    margin-top: 8rem;
    padding-left: 30px;
    border-radius: 10px;
    height: 500px;
}

.left div {
    margin-top: 70px;
}

.right {
    width: 50%;
    background-position-y: 26.3rem;
    background-position-x: -0.5rem;
    background-image: url("hero-shape-1.png");
    background-repeat: no-repeat;

}

.right img {
    height: 700px;
    object-fit: cover;
}

.left h1 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

.left h3 {
    margin-bottom: 10px;
    color: #3a937f;
}

.left p {
    color: rgba(128, 128, 128, 0.527);
    font-weight: bold;
}

h2 {
    padding-top: 1.2rem;
}

.ptb-100 {

    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: rebeccapurple; */
}

.container1 {
    margin: 0 auto;
    padding: 0 15px;
}

.container2 {
    display: flex;
    gap: 3rem;
}

.section-title.style1 {
    text-align: center;
    margin-bottom: 40px;
}

.section-title.style1 {
    display: block;
    font-size: 18px;
    color: #333;
    position: relative;
}

.section-title.style1 img {
    margin-left: 10px;
}

.section-title.style1 h2 {
    font-size: 40px;
    color: #222;
    margin-top: 10px;
}

.project-card {
    position: relative;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.project-card .project-img img {
    width: 100%;
    height: auto;
}

.project-card .project-info {
    padding: 20px;
    position: relative;
}

.project-card .project-info .project-shape {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50px;
    height: auto;
}

.project-card .project-info h3 {
    font-size: 24px;
    margin: 10px 0;
}

.project-card .project-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.project-card .project-info .link {
    color: #3a937f;
    font-weight: bold;
    text-decoration: none;
}

.project-card.style1 .project-img img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.project-card.style1 .project-info .link:hover i {
    transform: translateX(5px);
}

.project-card.style1:hover .project-img img {
    transform: scale(1.1);
}

.project-card .project-info .link i {
    margin-left: 5px;
}


/* css for about  */






.container2 {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-lg-6 {
    width: 50%;
    padding: 15px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-sand {
    background-color: #f5f5f5;
}

.about-wrap {
    position: relative;
    overflow: hidden;

}



.about-shape-one,
.about-shape-two,
.about-shape-three {
    position: absolute;
    z-index: 1;
}

.about-shape-one {
    top: 50px;
    left: 50px;
    width: 600px;
    border-radius: 15px;
}

.about-shape-two {
    top: 54%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 452px;
}

.about-shape-three {
    bottom: 0;
    right: 0;
}

.about-img-wrap {
    position: relative;
    z-index: 2;
    background-color: #338f7a;


    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    top: 375px;
    left: -110px;

}

.about-quote {
    display: flex;
    align-items: center;
    font-size: 200px;
    font-weight: 500;

}



.about-quote p {
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
}

.about-content {
    position: relative;
    z-index: 2;
}

.content-title span {

    display: block;
    font-size: 18px;
    color: #3a937f;
    margin-bottom: 10px;
    position: relative;
}



.content-title h2 {
    font-size: 40px;
    color: #222;
    margin-bottom: 15px;
}

.content-title p {
    font-size: 18px;
    color: #676767;
    line-height: 1.8;
    margin-bottom: 20px;
}

.content-feature-list {
    list-style: none;
    margin-bottom: 20px;
}

.content-feature-list li {
    font-size: 16px;
    color: #676767;
    line-height: 1.6;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content-feature-list li i {
    font-size: 20px;
    color: #f69946;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f69946;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: black;
}


.flyUp {
    animation: flyUp 3s infinite alternate;
}

@keyframes flyUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}




/* contact */

.container3 {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-xl-8,
.col-xl-4 {
    padding: 15px;
}

.col-xl-8 {
    width: 66.66%;
}

.col-xl-4 {
    width: 33.33%;
}

.pt-100 {
    padding-top: 100px;
}

.pb-75 {
    padding-bottom: 75px;
}

.event-wrap {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-shape-one {
    position: absolute;
    top: 340px;
    left: 0;
    z-index: 1;
}

.section-title {
    margin-bottom: 40px;
}

.section-title span {
    display: block;
    font-size: 18px;
    color: #333;
    position: relative;
}

.section-title span img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.section-title h2 {
    font-size: 28px;
    color: #222;
    margin-top: 10px;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.event-img {
    display: flex;
}


.event-img img {
    width: 200px;
    height: auto;
    display: block;
}

.event-date {
    position: absolute;
    top: 5px;

    background-color: #f69946;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.event-info {
    padding: 20px;
}

.event-info h3 a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.event-info h3 a:hover {
    color: bl;
}

.event-metainfo {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
}

.event-metainfo li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.event-metainfo li a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.event-metainfo li a:hover {
    color: #1e90ff;
}

.event-metainfo li i {
    margin-right: 5px;
    color: #f69946;
}

.newsletter-form {
    background-color: #f4f4f4;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    height: 364px;
    text-align: center;
}

.newsletter-form h4 {
    font-size: 20px;
    color: #222;
    margin-bottom: 20px;
}

.newsletter-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.newsletter-form .form-group {
    margin-bottom: 20px;
}

.newsletter-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.newsletter-form .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f69946;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.newsletter-form .btn:hover {
    background-color: black;
}

/* Animations */
.moveHorizontal {
    animation: moveHorizontal 3s infinite alternate;
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}